# if kind of statement

In [2]:
a = 10
if a ==10

SyntaxError: invalid syntax (759058933.py, line 2)

In [3]:
a = 10
if a ==10 :
    print("this my first condition")

this my first condition

# this called false condition

In [4]:
a = 10
if a ==11 :
    print("this my first condition")

In [5]:
a = 10
if a >5 :

IndentationError: expected an indented block (3494910414.py, line 2)

In [6]:
a = 10
if a >5 :
    pass

In [7]:
a = 10
if a >8:
    print("print this if condition is true")

print this if condition is true

# this called false condition

In [8]:
a = 10
if a <8:
    print("print this if condition is true")

# if, else kind of condition

# ! this not equal to sign

In [10]:
a = 10
if a != 11:
    print("my condition is false")
else :
    print("print this")

my condition is false

In [11]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this")

print this

In [13]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif  a ==11:
    print ("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [14]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif  a ==10:
    print ("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [15]:
price = 500

if price > 500:
    print(" may b i wont be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")

In [16]:
price = 500

if price > 500:
    print(" may b i wont be able to buy a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [17]:
price = 500

if price > 500:
    print(" may b i wont be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
else price == 500:
    print("i dont know")

SyntaxError: invalid syntax (3215314340.py, line 7)

In [19]:
price = 500

if price > 500:
    print(" may b i wont be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("for sure i will be able to buy")
    
else :
    print("i dont know")

for sure i will be able to buy

In [20]:
price > 500

False

In [21]:
price <500

False

In [22]:
price == 500

True

In [23]:
l =[1,2,3,4,5,6]
2 in l

True

In [24]:
if 2 in l :
    print("try to perform a task")
else :
    print("do not perform this task")

try to perform a task

In [25]:
if 60 in l :
    print("try to perform a task")
else :
    print("do not perform this task")

do not perform this task

In [26]:
60 in l

False

In [27]:
l

[1, 2, 3, 4, 5, 6]

In [28]:
if 1 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

thy to do a addition

In [29]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

try to do sub

In [30]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

# string format

In [31]:
a = 400

In [33]:
b = input()

fadfasdfasf45646

In [34]:
b

'fadfasdfasf45646'

In [35]:
b = input()

400

In [36]:
b

'400'

In [37]:
b = input()

53453

In [38]:
b

'53453'

In [39]:
type(b)

str

In [40]:
b = int(input())

345

In [41]:
type(b)

int

In [42]:
b= int(input())

fdasfas345

ValueError: invalid literal for int() with base 10: 'fdasfas345'

In [43]:
type (b)

int

In [44]:
b = int(input())

35

In [45]:
type(b)

int

In [46]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

grffasfdasf

ValueError: invalid literal for int() with base 10: 'grffasfdasf'

In [47]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

600
i wont be able to buy anything with this price tag

In [48]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

500
i wont be able to buy anything with this price tag

In [49]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

490
i will be able to buy something
i wont be able to buy anything

In [50]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

300
i will be able to buy something
i will be able to buy a jacket

In [51]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

089
i will be able to buy something
i will be able to buy a jacket

In [52]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
       if price >500:
            print("lets try something else")

IndentationError: unexpected indent (1074141130.py, line 15)

In [53]:
price = int(input())
if price <500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price >500:
            print("lets try something else")

600
i wont be able to buy anything with this price tag
lets try something else

In [55]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congartulations")

400
NO GRE
TOFEL

In [56]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congartulations")

700
You got GRE congartulations

In [57]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congartulations")

300
NO GRE
TOFEL
Try something else

In [58]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0:
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is a negative number")

enter a floating point number-345
entered number is a negative number

In [59]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0:
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is a negative number")

enter a floating point number0
entered value is zero

In [60]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0:
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is a negative number")

enter a floating point number324
enter value is a positive number

In [61]:
a = 10
if a <=10 :
    print("try to do something")

try to do something

In [63]:
a = 10
if a <10 or a == 10 :
    print("try to do something")

try to do something

In [64]:
a = 10
if a <10 or a > 10 :
    print("try to do something")

In [65]:
a = 10
if a <10 and a == 10 :
    print("try to do something")

In [66]:
a = "sudh"
if a == "sudh" and a == "sudh" :
    print("this is sudh")

this is sudh

In [67]:
a = "sudh"
if a == "sudh" or a == "Sudh" :
    print("this is sudh")

this is sudh

In [68]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("lets do something")

In [69]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("lets do something")

lets do something

In [70]:
d = {'key1':"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [ ]:
if d['key1']

In [72]:
d['key1']

'value'

In [76]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [79]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are not verified

In [80]:
d['key1']

'value'

In [81]:
l = [1,2,3,4,5,"sudh" , 234.45]

In [82]:
l[0]

1

In [83]:
l[1]

2

In [84]:
l[2:5]

[3, 4, 5]

In [85]:
for i in l :
    print(i)

1
2
3
4
5
sudh
234.45

In [87]:
for i in l :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [88]:
for i in l :
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1

In [89]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [86]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [91]:
a=[9,8,7,6,4,3,2,10]
for i in a :
    print(i)

9
8
7
6
4
3
2
10

In [92]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [94]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [95]:
l1

[1, 2, 3, 4, 5]

In [98]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
            print(a+str(l))
    elif type(a)==float:
            print(a+float(1))

2
3
4
5
6
sudh[1, 2, 3, 4, 5, 'sudh', 234.45]
235.45

In [101]:
for i in l:
    if type(i)==int or type(i) == float:
        print(i+1)
    elif type(i)== str:
        print(i+ str(1))

2
3
4
5
6
sudh1
235.45

In [100]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [102]:
l = [1,2,3,4,5 ,"car", 5,6,7]

for i in l:
    if i.isnumeric():
        print(i)

AttributeError: 'int' object has no attribute 'isnumeric'

In [103]:
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values are verified ")
    print(d.values())
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values are verified")
    print(d.value())

In [ ]:
list=[]
name=input("Enter a name:-")
while name!="chandan":
    list.append(name)
#print("Thanks for the confirmation")
    print(list)

In [ ]:
l = [1,2,3,4,5465,67,"sudh"]

In [ ]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)